In [41]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv('../data/자치구별여가시설수_4차.csv')
df.head()

   자치구  문화예술시설  스포츠시설 수  관광 시설  취미오락 시설  휴식 시설  소비 시설  노인시설 수
0  종로구     505      250   1155      114    286  11065      75
1   중구     230      426    429       86    386  14225      55
2  용산구     253      217     63       81    286  10126     112
3  성동구     260      266    110      177    255   8844     180
4  광진구     193      407    128      324    247  12072     104

In [43]:
df.sort_values(by='자치구', inplace=True)

In [44]:
df.head()

    자치구  문화예술시설  스포츠시설 수  관광 시설  취미오락 시설  휴식 시설  소비 시설  노인시설 수
22  강남구    1641     1335     94      247    665  32896     193
24  강동구     207      445     98      253    332  14426     137
8   강북구     126      282    114      336    240   7980     118
15  강서구     307      766     27      336    430  16152     249
20  관악구     240      354     90      333    326  11788     131

In [47]:
df.drop('자치구', axis=1, inplace=True)

In [48]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()   
df_scaled = pd.DataFrame(scaler.fit_transform(df))
df_scaled

           0         1         2       3         4         5         6
0   1.000000  1.000000  0.059397  0.4150  1.000000  1.000000  0.663462
1   0.056579  0.203936  0.062943  0.4300  0.298947  0.273207  0.394231
2   0.003289  0.058140  0.077128  0.6375  0.105263  0.019557  0.302885
3   0.122368  0.491055  0.000000  0.6375  0.505263  0.341125  0.932692
4   0.078289  0.122540  0.055851  0.6300  0.286316  0.169401  0.365385
5   0.047368  0.169946  0.089539  0.6075  0.120000  0.180577  0.235577
6   0.064474  0.240608  0.114362  0.6800  0.111579  0.145752  0.807692
7   0.000000  0.087657  0.018617  0.3250  0.000000  0.083422  0.144231
8   0.071053  0.232558  0.106383  0.4850  0.320000  0.070240  1.000000
9   0.008553  0.134168  0.101064  0.3900  0.000000  0.009680  0.451923
10  0.026316  0.075134  0.055851  0.2975  0.063158  0.126353  0.447115
11  0.061842  0.116279  0.007979  0.2500  0.084211  0.000000  0.471154
12  0.341447  0.259392  0.208333  0.3050  0.200000  0.317672  0.562500
13  0.050000  0.010733  0.002660  0.0750  0.149474  0.042577  0.350962
14  0.323026  0.680680  0.120567  0.3875  0.345263  0.450557  0.437500
15  0.091447  0.043828  0.073582  0.2400  0.136842  0.053555  0.600962
16  0.082237  0.204830  0.020390  0.2100  0.162105  0.125212  0.644231
17  0.153947  0.730769  0.157801  1.0000  0.667368  0.408138  0.653846
18  0.048684  0.250447  0.023050  0.3825  0.153684  0.062448  0.653846
19  0.124342  0.334526  0.005319  0.6425  0.332632  0.305867  0.692308
20  0.086842  0.000000  0.031915  0.0000  0.202105  0.104002  0.274038
21  0.065132  0.164580  0.216312  0.3600  0.193684  0.149136  0.605769
22  0.252632  0.029517  1.000000  0.0825  0.202105  0.140951  0.096154
23  0.071711  0.186941  0.356383  0.0125  0.412632  0.265297  0.000000
24  0.010526  0.088551  0.019504  0.6500  0.128421  0.142014  0.427885

In [49]:
from sklearn.decomposition import PCA

pca = PCA()  # 주성분 개수 설정

# PCA 적용
transformed_data = pca.fit_transform(df_scaled)

In [50]:
explained_var_ratio = pca.explained_variance_ratio_

# explain_ratio를 가중치로 주어 주성분의 중요도를 표현
weighted_var_ratio = explained_var_ratio / np.sum(explained_var_ratio)

In [51]:
print("PCA-based Weights:")
for i, weight in enumerate(weighted_var_ratio):
    print(f"Variable {i + 1}: {weight:.3f}")

PCA-based Weights:
Variable 1: 0.533
Variable 2: 0.248
Variable 3: 0.099
Variable 4: 0.077
Variable 5: 0.023
Variable 6: 0.016
Variable 7: 0.005

In [52]:
indicator_scores = []
for i in range(len(df_scaled)):
    score = np.dot(df_scaled.iloc[i], weighted_var_ratio)    
    indicator_scores.append(score)

# 결과를 데이터프레임으로 변환
indicator_scores_df = pd.DataFrame({'Indicator_Score': indicator_scores})

# 결과 출력
indicator_scores_df

    Indicator_Score
0          0.860505
1          0.133190
2          0.077255
3          0.257555
4          0.137351
5          0.129865
6          0.166426
7          0.050652
8          0.156650
9          0.080147
10         0.066659
11         0.086022
12         0.302537
13         0.041152
14         0.399637
15         0.092219
16         0.121508
17         0.380883
18         0.127403
19         0.215073
20         0.057041
21         0.134275
22         0.254217
23         0.134360
24         0.086954

In [53]:
df1 = pd.read_csv('../data/자치구별여가시설수_4차.csv')

In [54]:
df1.sort_values(by='자치구', inplace=True)

In [55]:
indicator_scores_df = pd.DataFrame({'자치구': df1['자치구'], '여가시설점수': indicator_scores})
indicator_scores_df

indicator_scores_df.set_index(keys='자치구')

        여가시설점수
자치구
강남구   0.860505
강동구   0.133190
강북구   0.077255
강서구   0.257555
관악구   0.137351
광진구   0.129865
구로구   0.166426
금천구   0.050652
노원구   0.156650
도봉구   0.080147
동대문구  0.066659
동작구   0.086022
마포구   0.302537
서대문구  0.041152
서초구   0.399637
성동구   0.092219
성북구   0.121508
송파구   0.380883
양천구   0.127403
영등포구  0.215073
용산구   0.057041
은평구   0.134275
종로구   0.254217
중구    0.134360
중랑구   0.086954

In [56]:
# 건강 점수에 5를 곱한 새로운 열 추가
indicator_scores = indicator_scores_df['여가시설점수'] * 5
indicator_scores_df['여가시설점수pca'] = indicator_scores

indicator_scores_df

     자치구    여가시설점수  여가시설점수pca
22   강남구  0.860505   4.302524
24   강동구  0.133190   0.665949
8    강북구  0.077255   0.386273
15   강서구  0.257555   1.287775
20   관악구  0.137351   0.686754
4    광진구  0.129865   0.649323
16   구로구  0.166426   0.832129
17   금천구  0.050652   0.253262
10   노원구  0.156650   0.783249
9    도봉구  0.080147   0.400735
5   동대문구  0.066659   0.333297
19   동작구  0.086022   0.430112
13   마포구  0.302537   1.512685
12  서대문구  0.041152   0.205758
21   서초구  0.399637   1.998186
3    성동구  0.092219   0.461096
7    성북구  0.121508   0.607540
23   송파구  0.380883   1.904416
14   양천구  0.127403   0.637014
18  영등포구  0.215073   1.075364
2    용산구  0.057041   0.285203
11   은평구  0.134275   0.671374
0    종로구  0.254217   1.271084
1     중구  0.134360   0.671802
6    중랑구  0.086954   0.434771

In [59]:
indicator_scores_df.drop('여가시설점수', axis=1,inplace = True)

In [60]:
indicator_scores_df

     자치구  여가시설점수pca
22   강남구   4.302524
24   강동구   0.665949
8    강북구   0.386273
15   강서구   1.287775
20   관악구   0.686754
4    광진구   0.649323
16   구로구   0.832129
17   금천구   0.253262
10   노원구   0.783249
9    도봉구   0.400735
5   동대문구   0.333297
19   동작구   0.430112
13   마포구   1.512685
12  서대문구   0.205758
21   서초구   1.998186
3    성동구   0.461096
7    성북구   0.607540
23   송파구   1.904416
14   양천구   0.637014
18  영등포구   1.075364
2    용산구   0.285203
11   은평구   0.671374
0    종로구   1.271084
1     중구   0.671802
6    중랑구   0.434771

In [61]:
indicator_scores_df.to_csv('../data/여가시설점수_pca_최종.csv')