In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/문화공간(영화관).csv.csv')
df

    자치구별(1)  자치구별(2)      2022    2022.1   2022.2
0   자치구별(1)  자치구별(2)  개소수 (개소)  스크린수 (개)  좌석수 (개)
1        합계       소계        97       597    96805
2        합계      종로구         6        22     3911
3        합계       중구         9        43     7862
4        합계      용산구         3        32     6942
5        합계      성동구         2        17     2811
6        합계      광진구         6        38     5869
7        합계     동대문구         1         8     1737
8        합계      중랑구         3        22     3064
9        합계      성북구         2         8     1240
10       합계      강북구         3        21     2516
11       합계      도봉구         2        12     1550
12       합계      노원구         5        28     4559
13       합계      은평구         2        17     2956
14       합계     서대문구         5        21     3452
15       합계      마포구         8        37     5847
16       합계      양천구         2        17     2467
17       합계      강서구         6        33     5171
18       합계      구로구         3        23     2907
19       합계      금천구         2        14     2660
20       합계     영등포구         3        28     5175
21       합계      동작구         2         8     1038
22       합계      관악구         2        13     2181
23       합계      서초구         3        13     1679
24       합계      강남구        10        59     8352
25       합계      송파구         4        37     6421
26       합계      강동구         3        26     4438

In [4]:
df.drop(['자치구별(1)', '2022.1','2022.2'], axis=1,inplace=True)

    자치구별(2)      2022
0   자치구별(2)  개소수 (개소)
1        소계        97
2       종로구         6
3        중구         9
4       용산구         3
5       성동구         2
6       광진구         6
7      동대문구         1
8       중랑구         3
9       성북구         2
10      강북구         3
11      도봉구         2
12      노원구         5
13      은평구         2
14     서대문구         5
15      마포구         8
16      양천구         2
17      강서구         6
18      구로구         3
19      금천구         2
20     영등포구         3
21      동작구         2
22      관악구         2
23      서초구         3
24      강남구        10
25      송파구         4
26      강동구         3

In [5]:
df.drop([0,1], axis=0, inplace=True)
df

   자치구별(2) 2022
2      종로구    6
3       중구    9
4      용산구    3
5      성동구    2
6      광진구    6
7     동대문구    1
8      중랑구    3
9      성북구    2
10     강북구    3
11     도봉구    2
12     노원구    5
13     은평구    2
14    서대문구    5
15     마포구    8
16     양천구    2
17     강서구    6
18     구로구    3
19     금천구    2
20    영등포구    3
21     동작구    2
22     관악구    2
23     서초구    3
24     강남구   10
25     송파구    4
26     강동구    3

In [7]:
df.rename(columns={'자치구별(2)':'자치구', '2022':'영화관 수'}, inplace=True)
df

     자치구 영화관 수
2    종로구     6
3     중구     9
4    용산구     3
5    성동구     2
6    광진구     6
7   동대문구     1
8    중랑구     3
9    성북구     2
10   강북구     3
11   도봉구     2
12   노원구     5
13   은평구     2
14  서대문구     5
15   마포구     8
16   양천구     2
17   강서구     6
18   구로구     3
19   금천구     2
20  영등포구     3
21   동작구     2
22   관악구     2
23   서초구     3
24   강남구    10
25   송파구     4
26   강동구     3

In [8]:
df.to_csv('./data/영화관수.csv')