In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/서울시유원지인허가정보.csv', encoding='cp949')
df

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,발전시설유무,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모
0,3010000,CDFI5271002023000001,2023-04-28,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3230000,CDFI5271002022000001,2022-11-09,NaN,3,폐업,3,폐업,2023-03-02,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3040000,CDFI5271002022000002,2022-12-23,NaN,3,폐업,3,폐업,2023-02-12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3010000,CDFI5271002009000001,20090417,NaN,3,폐업,3,폐업,20140301,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,3070000,CDFI5271002023000001,2023-03-22,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,3230000,CDFI5271002012000002,20120709,NaN,3,폐업,3,폐업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,3230000,CDFI5271002017000002,20170404,NaN,3,폐업,3,폐업,20170410,NaN,...,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,3230000,CDFI5271002016000001,20160704,20180418.0,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,3230000,CDFI5271002013000001,20130628,NaN,3,폐업,34,영업장폐쇄,20130901,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,3230000,CDFI5271002012000001,20120504,NaN,3,폐업,3,폐업,20220629,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_cleaned = df[~df['영업상태명'].str.contains('폐업')]
df_cleaned

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,발전시설유무,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모
0,3010000,CDFI5271002023000001,2023-04-28,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3070000,CDFI5271002023000001,2023-03-22,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3010000,CDFI5271002002000001,20020410,NaN,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,N,N,N,NaN,NaN,0.0,NaN,NaN,NaN,0.0
8,3070000,CDFI5271002018000001,2018-04-05,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3180000,CDFI5271002014000001,20140806,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3070000,CDFI5271002023000002,2023-07-03,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3040000,CDFI5271002023000001,2023-06-23,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3010000,CDFI5271002003000001,20030621,NaN,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,N,N,N,NaN,NaN,0.0,NaN,NaN,NaN,0.0
27,3230000,CDFI5271002000000001,2000-04-07,NaN,2,휴업,2,휴업,NaN,2023-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,3240000,CDFI5271002012000001,20121031,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,243.0
41,3180000,CDFI5271002013000002,2013-07-26,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,3040000,CDFI5271002010000001,2010-07-21,NaN,2,휴업,2,휴업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,3040000,CDFI5271002016000001,2016-12-27,NaN,2,휴업,2,휴업,NaN,2023-03-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,3100000,CDFI5271002012000001,2012-08-30,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,3080000,CDFI5271001974000001,19741120,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,3040000,CDFI5271002019000001,20190418,20201216.0,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
56,3110000,CDFI5271002021000001,20210827,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,0.0,NaN,NaN,NaN,3405.0
64,3230000,CDFI5271002016000001,20160704,20180418.0,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_cleaned['자치구'] = df_cleaned['지번주소'].str.split().str[1]
df_cleaned

C:\Users\morat\AppData\Local\Temp\ipykernel_52160\456189622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['자치구'] = df_cleaned['지번주소'].str.split().str[1]

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,자치구
0,3010000,CDFI5271002023000001,2023-04-28,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중구
4,3070000,CDFI5271002023000001,2023-03-22,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,성북구
7,3010000,CDFI5271002002000001,20020410,NaN,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,N,N,NaN,NaN,0.0,NaN,NaN,NaN,0.0,중구
8,3070000,CDFI5271002018000001,2018-04-05,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,성북구
11,3180000,CDFI5271002014000001,20140806,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영등포구
12,3070000,CDFI5271002023000002,2023-07-03,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,성북구
13,3040000,CDFI5271002023000001,2023-06-23,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광진구
14,3010000,CDFI5271002003000001,20030621,NaN,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,N,N,NaN,NaN,0.0,NaN,NaN,NaN,0.0,중구
27,3230000,CDFI5271002000000001,2000-04-07,NaN,2,휴업,2,휴업,NaN,2023-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,송파구
40,3240000,CDFI5271002012000001,20121031,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,243.0,강동구
41,3180000,CDFI5271002013000002,2013-07-26,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영등포구
42,3040000,CDFI5271002010000001,2010-07-21,NaN,2,휴업,2,휴업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광진구
43,3040000,CDFI5271002016000001,2016-12-27,NaN,2,휴업,2,휴업,NaN,2023-03-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광진구
51,3100000,CDFI5271002012000001,2012-08-30,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,노원구
52,3080000,CDFI5271001974000001,19741120,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강북구
53,3040000,CDFI5271002019000001,20190418,20201216.0,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,광진구
56,3110000,CDFI5271002021000001,20210827,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,Y,NaN,NaN,0.0,NaN,NaN,NaN,3405.0,은평구
64,3230000,CDFI5271002016000001,20160704,20180418.0,4,취소/말소/만료/정지/중지,30,허가취소,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,송파구

In [8]:
value_counts = df_cleaned['자치구'].value_counts()
value_counts

광진구     4
중구      3
성북구     3
영등포구    2
송파구     2
강동구     1
노원구     1
강북구     1
은평구     1
Name: 자치구, dtype: int64

In [13]:
new_dataframe = pd.DataFrame(value_counts, columns=['자치구'])
new_dataframe

      자치구
광진구     4
중구      3
성북구     3
영등포구    2
송파구     2
강동구     1
노원구     1
강북구     1
은평구     1

In [14]:
new_dataframe.rename(columns={'자치구':'테마파크 수'}, inplace=True)
new_dataframe

      테마파크 수
광진구        4
중구         3
성북구        3
영등포구       2
송파구        2
강동구        1
노원구        1
강북구        1
은평구        1

In [20]:
new_dataframe.reset_index(inplace=True)

In [21]:
new_dataframe.loc[9] = ['금천구', 0]

In [22]:
new_dataframe

  index  테마파크 수
0   광진구       4
1    중구       3
2   성북구       3
3  영등포구       2
4   송파구       2
5   강동구       1
6   노원구       1
7   강북구       1
8   은평구       1
9   금천구       0

In [23]:
new_dataframe.loc[10]=['강남구', 0]
new_dataframe.loc[11]=['강서구', 0]
new_dataframe.loc[12]=['관악구', 0]
new_dataframe.loc[13]=['구로구', 0]
new_dataframe.loc[14]=['금천구', 0]
new_dataframe.loc[15]=['도봉구', 0]
new_dataframe.loc[16]=['동대문구', 0]
new_dataframe.loc[17]=['동작구', 0]
new_dataframe.loc[18]=['마포구', 0]
new_dataframe.loc[19]=['서대문구', 0]
new_dataframe.loc[20]=['서초구', 0]
new_dataframe.loc[21]=['성동구', 0]
new_dataframe.loc[22]=['양천구', 0]
new_dataframe.loc[23]=['용산구', 0]
new_dataframe.loc[24]=['종로구', 0]
new_dataframe.loc[25]=['중랑구', 0]

In [24]:
new_dataframe

   index  테마파크 수
0    광진구       4
1     중구       3
2    성북구       3
3   영등포구       2
4    송파구       2
5    강동구       1
6    노원구       1
7    강북구       1
8    은평구       1
9    금천구       0
10   강남구       0
11   강서구       0
12   관악구       0
13   구로구       0
14   금천구       0
15   도봉구       0
16  동대문구       0
17   동작구       0
18   마포구       0
19  서대문구       0
20   서초구       0
21   성동구       0
22   양천구       0
23   용산구       0
24   종로구       0
25   중랑구       0

In [26]:
df_no_duplicates = new_dataframe.drop_duplicates(subset='index')
df_no_duplicates

   index  테마파크 수
0    광진구       4
1     중구       3
2    성북구       3
3   영등포구       2
4    송파구       2
5    강동구       1
6    노원구       1
7    강북구       1
8    은평구       1
9    금천구       0
10   강남구       0
11   강서구       0
12   관악구       0
13   구로구       0
15   도봉구       0
16  동대문구       0
17   동작구       0
18   마포구       0
19  서대문구       0
20   서초구       0
21   성동구       0
22   양천구       0
23   용산구       0
24   종로구       0
25   중랑구       0

In [27]:
df_no_duplicates.rename(columns={'index':'자치구'}, inplace=True)
df_no_duplicates

C:\Users\morat\AppData\Local\Temp\ipykernel_52160\707979764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates.rename(columns={'index':'자치구'}, inplace=True)

     자치구  테마파크 수
0    광진구       4
1     중구       3
2    성북구       3
3   영등포구       2
4    송파구       2
5    강동구       1
6    노원구       1
7    강북구       1
8    은평구       1
9    금천구       0
10   강남구       0
11   강서구       0
12   관악구       0
13   구로구       0
15   도봉구       0
16  동대문구       0
17   동작구       0
18   마포구       0
19  서대문구       0
20   서초구       0
21   성동구       0
22   양천구       0
23   용산구       0
24   종로구       0
25   중랑구       0

In [28]:
df_no_duplicates.to_csv('../data/테마파크 수.csv')